*{
    box-sizing: border-box;
}

body{
    /* background: #E5E5E5; */
    background: #FFFFFF;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

header input{

    width: 261px;
    height: 40px;
    margin-left: 5%;
    /* text-align: left; */
    border: 1px solid #D7D7D7;
    border-radius: 4px;

}

header button{

    width: 131px;
    height: 40px;
    margin-left: 10px;
    /* text-align: left; */
    border: 1px solid #D7D7D7;
    border-radius: 4px;

}

main{
    margin-top: 160px;
}

.telaInicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.telaInicial img{

    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 10px;

}

.telaInicial input{
    width: 261px;
    height: 54px;
    margin-top: 94px;
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.telaInicial button{
    width: 131px;
    height: 45px;
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #696969;
}

.telaInicial .preload{
    width: 130px;
    height: 130px;

}
.repositorios{
    
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    width: 40%;
    margin-left: 5%;
}

.repositorios .repositorio{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 5px;
    background-color: #D7D7D7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.barraLateral{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    top: 160px;
    right: 5%;
    width: 45%;
    height: 550px;
    /* background-color: #D7D7D7; */
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.barraLateral img{
    width: 60%;
    margin: 10px 0px;
}

.barraLateral h1{
   font-size: 30px ;
   font-weight: bold;
}

.escondido{
   display: none;
}